{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static%}

{% block content %}
{{block.super}}
<div class="container">
  <div class="row">
    {% for biz in business %}
    <div class="col-md-3">

      <h1> <b>{{biz.business_name}}</b></h1>
      <img src="{{biz.business_image.url}}" class="img-responsive" alt="Business">
      <h6><b>Business Neighbourhood: </b> {{biz.neighborhood}}</h6>
      <p> <b>Email Address : </b>{{biz.business_email}}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
