{%extends 'base.html'%}

 {% block content %}
 <div class="container">
   <div class="row">
     <div class="col-md-4">

     </div>
     <div class="col-md-4">
       <h1> <b>{{business.business_name}}</b></h1>
       <img src="{{business.business_image.url}}" width="200px" height="150px" class="img-responsive" alt="">
       <h5><b>Business Neighbourhood : </b> {{business.neighborhood}}</h5>
       <h5> <b>Business Email : </b>{{business.business_email}} </h5>
     </div>
     <div class="col-md-4">

     </div>


   </div>

 </div>

 {% endblock %}
