{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if business%}
      <h2>Found {{ business|length }} of searched term {{message}}</h2>
      <h3></h3>
    {% else %}
      <h2> Found no business for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if business %}
    {% for biz in business %}
      <div class="col-sm-6 col-md-3">
        <h2><a href="/search-detail/{{biz.id}}">{{biz.business_name}}</a> </h2>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
